TAPAS,"TAPAS CONNECT",mcib3d.tapas.plugins.Omero_Password
TAPAS,"TAPAS OMERO",mcib3d.tapas.plugins.TAPAS_OMERO
TAPAS,"TAPAS FILES",mcib3d.tapas.plugins.TAPAS_FILES
TAPAS,"TAPAS BATCH",mcib3d.tapas.plugins.Tapas_Batch
TAPAS,"TAPAS MENU",mcib3d.tapas.plugins.TAPAS_MENU
TAPAS,"-"
TAPAS,"OMERO Load",mcib3d.tapas.plugins.Omero_Read
TAPAS,"OMERO Save",mcib3d.tapas.plugins.Omero_Save
TAPAS,"OMERO Macro",mcib3d.tapas.plugins.OmeroMacro





